@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;400;500;700;900&display=swap');

*{box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; font-family: 'Montserrat', sans-serif;}
html, body{margin: 0; padding: 0;}
header, section, main, nav, article, footer{margin: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0; color: #333;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

/* 공통 부분 */
body{background: linear-gradient(to top, #fff3e4, #fff);}
section{margin-bottom: 300px;}
.sub{font-size: 38px; color: #333;}





/* Header part */
#logo{position: fixed; top: 20px; left: 20px; width: 100%; z-index: 99; transform: translateX(-150%); display: flex; align-items: center; transition: transform 0.7s; cursor: pointer;}
#logo.active{transform: translateX(0%);}
#logo .menu_icon{display: flex; align-items: center;}
#logo img{/*position: absolute; top: 0px; left: 0px;*/ height: 50px;}
#logo img:hover{background-image: url(../img/mjk_logo_hover.svg);}
#logo h2{/*position: absolute; top: 15px; left: 60px; */font-size: 12px; width: 53px; padding-left: 10px; word-break: normal; color: #333;}

nav{/* width: 100%;*/ display: none;}
nav .menu{/*position: absolute; top: 0; left: 0;*/ display: flex; justify-content: flex-start; flex-wrap: wrap;}
nav .menu li:first-of-type{margin-left: 10px;}
nav .menu li{padding: 5px;}
nav .menu li a{font-size: 12px; color: #777; display: block; line-height: 1;}
nav .menu li a:hover{color: #f84e1a;}



/* Intro part */
main{width: 100%; height: 100vh;}
main #bg_img{position: relative; width: 100%; height: 100%; background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(../img/Intro_img-1.png);}
/* main #bg_img .white{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.25); z-index: 0; opacity: 0;}
main #bg_img .white.active{z-index: 1; opacity: 1;} */

main #bg_img .top_txt{display: flex; flex-wrap: nowrap; justify-content: space-between; justify-items: flex-start;}
main #bg_img .top_txt h4{position: fixed; top: 50px; left: 50px; line-height: 20px; font-weight: 500; font-size: 14px;}
main #bg_img .top_txt p{position: fixed; top: 50px; right: 50px; letter-spacing: 0.5px; line-height: 10px;font-size: 10px; font-weight: 500; transform-origin: top left; color: #777;}

main #bg_img .main_txt{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; border: 2px solid #f84e1a; padding: 20px;}
main #bg_img .main_txt h3{font-size: 16px; font-weight: 400; color: #f84e1a;}
main #bg_img .main_txt h2{font-size: 32px; padding: 5px;; font-weight: bold;}
main #bg_img .main_txt h2 span{font-size: 25px;}
main #bg_img .main_txt p{font-size: 12px; padding-top: 5px; font-weight: 400; color: #777}

main #bg_img .bottom_txt{position: absolute; bottom: 40px; left: 20px;}
main #bg_img .bottom_txt p{border-left: 2px solid #f84e1a; font-size: 12px; padding-left: 5px;}



/* About Me part */
#about{width: 100%;}
#about article{display: flex; justify-content: space-between;}
#about article .left{width: 100%; height: 100%; padding-left: 130px;}
#about article .left .profile{width: 100%; height: 100%;}
#about article .left .profile .img{position: relative; width: 280px; text-align: left;}
#about article .left .profile .img .deco_line{position: absolute; width: 300px; height: 392px; top: 40px; left: -10px;  border: 3px solid #fdcab8;}
#about article .left .profile .img img{padding-top: 50px; width: 100%; height: auto; background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; border: 1px solid transparent;}

#about article .left .profile .img h3{font-size: 18px; line-height: 1; padding: 5px; margin: 15px 0;}
#about article .left .profile .img h3 span{font-size: 13px; line-height: 1; color: #777;}
#about article .left .profile .img .btn{border: none; background: #fff; opacity: 0.7; border-radius: 4px; display: block; width: 100px; height: 30px; cursor: pointer; text-align: center;}
#about article .left .profile .img .btn a{display: block; line-height: 1; font-size: 13px; color: #f84e1a; padding: 5px;}


#about article .left .story{text-align: left; margin-top: 50px;}
#about article .left .story p{font-weight: 16px; padding: 1px; padding-bottom: 15px; line-height: 1.5;}
#about article .left .story p span{font-weight: bold; color: #f84e1a;}


#about article .right{padding-top: 130px; width: 50%; text-align: right; padding-right: 130px; }
#about article .right h2{font-size: 38px; padding-bottom: 10px;}
#about article .right p{font-weight: 300; font-size: 15px; word-break: normal; line-height: 1.5; color: #777;}




/* Skills part */
#skills{width: 100%;}
#skills article{display: flex; justify-content: space-between;}
#skills article .left{padding-left: 130px; width: 40%; word-break: normal;}
#skills article .left h2{font-size: 38px; padding-bottom: 50px;}


#skills article .right{padding-top: 200px; width: 50%; padding-right: 130px;}
#skills article .right h3{font-weight: 700; font-size: 18px; line-height: 1; color: #333}
#skills article .right p{font-weight: 300; font-size: 15px; word-break: normal; line-height: 1.5; padding-bottom: 30px; padding-top: 10px;}


#skills .degree{width: 100%; text-align: center; margin-top: 100px; padding-bottom: 50px; background-color: #faead6;}
#skills .degree h2{font-size: 32px; font-weight: 600; padding: 50px 0;}
#skills .degree .skill_list{margin: 0 auto;}
#skills .degree .skill_list .wrap{width: 100%;}
#skills .degree .skill_list .wrap .frame{width: 150px; height: 150px; padding: 10px;}
#skills .degree .skill_list .wrap .frame .img{width: 100%; height: 100%; background-size: 75%; background-position: 50% 50%; background-repeat: no-repeat;}

#skills .degree .skill_list .wrap .img .color{width: 100%; height: 100%; background-color: #f84e1a; opacity: 0; position: relative; border-radius: 8px;}


#skills .degree .skill_list .wrap .img .color:hover{opacity: 0.7; transition: opacity 0.3s;}


#skills .degree .skill_list .wrap .img .color .text_box{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#skills .degree .skill_list .wrap .img .color .text_box .score{font-size: 18px; font-weight: 500; color:#fff;}
#skills .degree .skill_list .wrap .img .color .text_box p span{font-weight: 700; font-size: 28px; line-height: 1.5; color: #fff;}

#skills .degree > p{text-align: center; margin: 0 auto; width: 250px; font-weight: 500; font-size: 15px; line-height: 1.2; background-color: #f84e1a; color: #fff; padding: 5px; margin-top: 50px;}

/* 그래프 파트 */
@keyframes p-5{from{width:0}to{width:5%}}@keyframes p-10{from{width:0}to{width:10%}}@keyframes p-15{from{width:0}to{width:15%}}@keyframes p-20{from{width:0}to{width:20%}}@keyframes p-25{from{width:0}to{width:25%}}@keyframes p-30{from{width:0}to{width:30%}}@keyframes p-35{from{width:0}to{width:35%}}@keyframes p-40{from{width:0}to{width:40%}}@keyframes p-45{from{width:0}to{width:45%}}@keyframes p-50{from{width:0}to{width:50%}}@keyframes p-55{from{width:0}to{width:55%}}@keyframes p-60{from{width:0}to{width:60%}}@keyframes p-65{from{width:0}to{width:65%}}@keyframes p-70{from{width:0}to{width:70%}}@keyframes p-75{from{width:0}to{width:75%}}@keyframes p-80{from{width:0}to{width:80%}}@keyframes p-85{from{width:0}to{width:85%}}@keyframes p-90{from{width:0}to{width:90%}}@keyframes p-95{from{width:0}to{width:95%}}@keyframes p-100{from{width:0}to{width:100%}}

li.p-5{width:5%;animation:p-5 .1s}li.p-10{width:5%;animation:p-10 .2s}li.p-15{width:15%;animation:p-15 .3s}li.p-20{width:20%;animation:p-20 .4s}li.p-25{width:25%;animation:p-25 .5s}li.p-30{width:30%;animation:p-30 .6s}li.p-35{width:35%;animation:p-35 .7s}li.p-40{width:40%;animation:p-40 .8s}li.p-45{width:45%;animation:p-45 .9s}li.p-50{width:50%;animation:p-50 1s}li.p-55{width:55%;animation:p-55 1.1s}li.p-60{width:60%;animation:p-60 1.2s}li.p-65{width:65%;animation:p-65 1.3s}li.p-70{width:70%;animation:p-70 1.4s}li.p-75{width:75%;animation:p-75 1.5s}li.p-80{width:80%;animation:p-80 1.6s}li.p-85{width:85%;animation:p-85 1.7s}li.p-90{width:90%;animation:p-90 1.8s}li.p-95{width:95%;animation:p-95 1.9s}li.p-100{width:100%;animation:p-100 2s}

li.p-5::before{content:"5%"}li.p-10::before{content:"10%"}li.p-15::before{content:"15%"}li.p-20::before{content:"20%"}li.p-25::before{content:"25%"}li.p-30::before{content:"30%"}li.p-35::before{content:"35%"}li.p-40::before{content:"40%"}li.p-45::before{content:"45%"}li.p-50::before{content:"50%"}li.p-55::before{content:"55%"}li.p-60::before{content:"60%"}li.p-65::before{content:"65%"}li.p-70::before{content:"70%"}li.p-75::before{content:"75%"}li.p-80::before{content:"80%"}li.p-85::before{content:"85%"}li.p-90::before{content:"90%"}li.p-95::before{content:"95%"}li.p-100::before{content:"100%"}

.percent-indicator .per-0::before{content:'0%'}.percent-indicator .per-20::before{content:'20%'}.percent-indicator .per-40::before{content:'40%'}.percent-indicator .per-60::before{content:'60%'}.percent-indicator .per-80::before{content:'80%'}.percent-indicator .per-100::before{content:'100%'}


*, *::before, *::after {
  box-sizing: border-box
}

.graph-wrapper {
  position: relative;
  padding:25px;
  border:1px solid #f84e1a;
  max-width:1200px;
  margin:auto
}

.graph-wrapper h1 {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  top:-15px;
  margin:0;
  margin-bottom:15px;
  padding:5px 10px;
  font-size:30px;
  background:#fdcab8;
  color: #f84e1a;
  line-height:30px;
}

.percent-indicator {
  position:absolute;
  top:0;
  right:25px;
  left:25px;
  bottom:0;
  display:flex;
  justify-content: space-between;
  width:calc(100% - 50px);
  padding:50px 20px
}

.percent-indicator div {
  position:relative;
  width:0;
  margin-left:-1px;
  border-left:1px dashed #f84e1a
}

.percent-indicator .per-0 {
  transform: translateX(1px)
}

.percent-indicator div::before, .percent-indicator div::after {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  padding-bottom:5px;
  font-size:18px;
  line-height:16px;
  background:#fdcab8
}

.percent-indicator div::after {
  top:21px
}

.percent-indicator .per-0::after {
  content:'Start'
}

.percent-indicator .per-20::after {
  content:'Studing'
}

.percent-indicator .per-40::after {
  content:'Trying'
}

.percent-indicator .per-60::after {
  content:'Well'
}

.percent-indicator .per-80::after {
  content:'Good'
}

.percent-indicator .per-100::after {
  content:'Perfect'
}

.graph {
  position: relative;
  margin:100px auto;
  margin-bottom: 50px;
  padding:0 20px;
  list-style:none;
  z-index: 2
}

.graph > li {
  margin-bottom:5px;
  padding:10px 5px;
  background:#f84e1a;
  color:#fff;
  text-align: left
}

.graph > li::before,
.graph > li:hover::after {
  display:none
}

.graph > li::after,
.graph > li:hover::before {
  display:block
}

.graph > li.item1::after {
  content:"HTML"
}

.graph > li.item2::after {
  content:"CSS"
}

.graph > li.item3::after {
  content:"Javascript / jQuery"
}

.graph > li.item4::after {
  content:"Ajax"
}

.graph > li.item5::after {
  content:"PHP"
}

.graph > li.item6::after {
  content:"Mysql"
}

.graph > li.item7::after {
  content:"Vue Js / Node Js"
}

.graph > li.item8::after {
  content:"Photoshop / Illustrator"
}

.graph > li.item9::after {
  content:"Ms Office"
}

.graph > li.item10::after {
  content:"Rhinoceros 3D"
}

.graph > li.item11::after {
  content:"Fusion 360"
}

@media screen and (max-width:640px) {
  .percent-indicator div::after {
    display:none
  }
}


/* Works part */
#works{ }
#works .wrap{/*padding: 0 130px;*/}


#works .left_txt{width: 60%; word-break: normal; padding: 0 130px;}
#works .left_txt > p{font-size: 15px; font-weight: 300; color: #777; line-height: 1.5;}
#works .left_txt h3{padding-bottom: 50px;}



#works .slide_frame{width: 100%; height: 700px; background-color: #faead6; padding: 0; display: flex; justify-content: space-around; flex-wrap: wrap;}
#works .slide_frame .slide_part{width: 40%; padding: 0 30px; height: 100%;}
#works .slide_frame .slide_part .slides{padding-left: 50px; padding-right: 50px; background: #fff3e4; width: 400px; height: 100%; overflow: hidden;}
#works .slide_frame .slide_part .slides{position: relative;}
#works .slide_frame .slide_part .slides li{ width: 100%; height: 215px; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; margin: 10px 0;}

#works .slide_frame .slide_part .slides li.slide_0{background-image: url(../img/slide_0.jpg);}
#works .slide_frame .slide_part .slides li.slide_1{background-image: url(../img/slide_1.jpg);}
#works .slide_frame .slide_part .slides li.slide_2{background-image: url(../img/slide_2.jpg);}
#works .slide_frame .slide_part .slides li.slide_3{background-image: url(../img/slide_3.jpg);}
#works .slide_frame .slide_part .slides li.slide_4{background-image: url(../img/slide_4.jpg);}
#works .slide_frame .slide_part .slides li.slide_5{background-image: url(../img/slide_5.jpg);}
#works .slide_frame .slide_part .slides li.slide_6{background-image: url(../img/slide_6.jpg);}
#works .slide_frame .slide_part .slides li.slide_7{background-image: url(../img/slide_7.jpg);}
#works .slide_frame .slide_part .slides li.slide_8{background-image: url(../img/slide_8.jpg);}
#works .slide_frame .slide_part .slides li.slide_9{background-image: url(../img/slide_9.jpg);}
#works .slide_frame .slide_part .slides li.slide_10{background-image: url(../img/slide_10.jpg);}
#works .slide_frame .slide_part .slides li.slide_11{background-image: url(../img/slide_11.jpg);}
#works .slide_frame .slide_part .slides li.slide_12{background-image: url(../img/slide_12.jpg);}

#works .slide_frame .slide_part .slides li a{}

#works .slide_frame .slide_part .slides .slick-list{overflow:initial;}/*다른 브라우저 확인해 볼 것*/

#works .slide_frame .slide_part .slides li.slick-center{transform: scale(1.05); transition: transform 0.5s; box-shadow:0 0 4px rgba(0,0,0,0.36);}

#works .slide_frame .slide_part .slick-dots{position: absolute; top:50%; right:20px; transform: translateY(-50%);}
#works .slide_frame .slide_part .slick-dots li{height: 8px; background-color: transparent;}
#works .slide_frame .slide_part .slick-dots li button{text-indent: -9999px; padding: 0; width: 10px; height: 10px; border:none; border-radius:50%; background-color: #fdcab8; cursor: pointer;}
#works .slide_frame .slide_part .slick-dots li.slick-active button{background-color: #f84e1a;}



#works .slide_frame .text_part{width: 60%; padding: 0 30px; justify-content: flex-end; }
#works .slide_frame .text_part > .text_box{text-align: left;}
#works .slide_frame .text_part > .text_box h3{padding: 80px 0; margin-right: 40px;}

#works .slide_frame .text_part > .text_box .cont_info{margin-top: 100px;}
#works .slide_frame .text_part > .text_box .cont_info h4{padding: 25px 0; font-size: 18px; font-weight: 500; color:#777;}
#works .slide_frame .text_part > .text_box .cont_info > p{font-weight: 500; font-size: 15px; line-height: 1;}








/* Contact part */
#contact{width: 100%; margin: 0 auto; padding: 10px 100px; text-align: center;}
#contact h2{padding-bottom: 10px;}
#contact > p{font-weight: 300; font-size: 15px; line-height: 1.5; color: #777; padding-bottom: 50px;}


#contact .formlist{padding: 10px;}
#contact .formlist ul{}
#contact .formlist ul li{display: flex; align-items: flex-start; padding: 10px 0;}
#contact .formlist ul li label{display: block; width: 140px; font-size: 16px; font-weight: bold; word-break: keep-all; line-height: 36px; color:#333; text-align: left;}
#contact .formlist ul li label sup{color:#f84e1a;}
#contact .formlist ul li .inputbox{display: block; width: calc(100% - 140px); padding: 0 10px;}

#contact .formlist ul li .inputbox input{display: block; width: 100%; line-height: 36px; font-size: 16px; border:none; border-bottom: 1px solid #f84e1a; padding: 0 10px;}
#contact .formlist ul li .inputbox textarea{width: 100%; border: 1px solid #f84e1a; line-height: 36px; font-size: 16px; border-radius:4px; height: 320px; resize: none;}
#contact .formlist .btn_box{padding: 20px 10px 0; border-top: 1px solid #f84e1a; text-align: center;}
#contact .formlist .btn_box button{font-size: 17px; background-color: #faab8e; color:#fff; border:none; border-radius:4px; cursor: pointer; padding: 10px 20px;}
#contact .formlist .btn_box button:hover{background-color: #f84e1a;}


.thankyou_message{position: fixed; top:0; left:0; right:0; bottom:0; z-index: 10; background: rgba(0,0,0,0.5); display: none;}
.thankyou_message article{position: absolute; max-width: 500px; min-width:300px; background-color: #fff; border-radius:4px; padding: 20px; top:50%; left:50%; transform: translate(-50%, -50%);}

.thankyou_message article h1{color:#333; font-size: 22px; padding-bottom: 20px; word-break: keep-all; font-weight: 500;}
.thankyou_message article p{font-size: 16px; font-weight: 300; color:#777; padding-bottom: 20px; border-bottom: 1px solid #f84e1a; word-break: normal;}
.thankyou_message article .btn_box{padding-top: 20px; text-align: center;}
.thankyou_message article .btn_box a{display: inline-block; padding: 6px 12px; background: #f84e1a; color:#fff; border-radius:4px; font-size: 17px;}



/* Footer Part */
footer{width: 100%; padding: 20px 0; background: #fdcab8; margin-top: 100px;}
footer .wrap{}
footer .wrap .sns{}

footer .wrap .copyrights{text-align: center; color: #333;}
footer .wrap .copyrights h4{font-size: 18px; font-weight: 400; padding-bottom: 5px;}
footer .wrap .copyrights h4 span{font-size: 14px; font-weight: 400;}
footer .wrap .copyrights p{font-size: 12px; font-weight: 400;}



